<app-menu></app-menu>
<div class="container" style="min-height: 37vw">
  <div class="row">
    <div class="col-md-8">
      <div class="col">
        <div class="card mt-3">
          <div class="row">
            <div class="d-flex justify-content-center align-content-center p-3">
              <span class="">{{this.titulo}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 p-2">
              <div class="row">
                <div class="col-6 redes fa-3x">
                  <div>
                    <a class="cambiar-color" type="button" target="_blank" (click)="handleClick('facebook')">
                      <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
                    </a>
                  </div>
                  <div>
                    <a class="cambiar-color" type="button" target="_blank" (click)="handleClick('twitter')">
                      <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
                    </a>
                  </div>
                  <div>
                    <a class="cambiar-color" type="button" target="_blank" (click)="handleClick('youtube')">
                      <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
                    </a>
                  </div>
                  <div>
                    <a class="cambiar-color" type="button" target="_blank" (click)="handleClick('pinterest')">
                      <fa-icon [icon]="['fab', 'pinterest']"></fa-icon>
                    </a>
                  </div>
                  <div>
                    <a class="cambiar-color" type="button" target="_blank" (click)="handleClick('instagram')">
                      <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
                    </a>
                  </div>
                  <div>
                    <a class="cambiar-color" type="button" target="_blank" (click)="handleClick('tiktok')">
                      <fa-icon [icon]="['fab', 'tiktok']"></fa-icon>
                    </a>
                  </div>
                  <div>
                    <a class="cambiar-color" type="button" target="_blank" (click)="handleClick('linkedin')">
                      <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
                    </a>
                  </div>
                </div>
                <div class="col-6 redes fa-3x">                 
                  <div class="row">
                    <div class="col-6">
                      <div class="input-group mb-2">
                        <input
                          type="date"
                          class="form-control"
                          id="fecha"
                          name="fecha"
                          [(ngModel)]="selectedDate"
                          placeholder="Username"
                        />
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="input-group mb-2">
                        <input
                          type="time"
                          class="form-control"
                          id="hora"
                          name="hora"
                          [(ngModel)]="selectedTime"
                          placeholder="Username"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row"></div>
            </div>
            <div class="col-md-3"></div>
          </div>

          <!-- botones -->
          <div class="row">
            <div class="col">
              <div class="p-2">
                <div class="card">
                  <div class="row" style="min-height: 20vw">
                  <div class="col contenedor">
                    <textarea type="text" [(ngModel)]="contenidoTextarea" class="mi-input-personalizado" placeholder="Agrega alguna descripcion"></textarea>

                    <img *ngIf="imagenUrl" [src]="imagenUrl" alt="Imagen de la publicación">
                    <input type="file" (change)="onFileSelected($event)" style="display: none" #fileInput>
                  </div>
                  </div>
                  <div class="border-bottom"></div>
                  <div class="row">
                    <div class="col-12 opc p-3">
                      <div>
                        <a type="button" target="_blank"(click)="fileInput.click()">
                          <fa-icon [icon]="faPhotoVideo">
                          </fa-icon>
                        </a>
                      </div>
                      <!-- <div>
                        <a type="button" target="_blank" (click)="fileInput.click()">
                          <fa-icon [icon]="faVideo">
                          </fa-icon>
                        </a>
                      </div> -->
                      <div>
                        <a type="button" target="_blank" (click)="toggleEmojiPicker()">
                          <fa-icon [icon]="faFile">
                          </fa-icon>
                        </a>
                      </div>
                      <!-- <div *ngIf="emojiPickerVisible">
                        <emoji-mart title="Pick your emoji…" emoji="point_up"></emoji-mart>
                        <emoji-mart set="google"></emoji-mart>
                        <emoji-mart (emojiClick)="addEmoji($event)"></emoji-mart>
                        <emoji-mart [style]="{ position: 'absolute', bottom: '20px', right: '20px' }"></emoji-mart>
                        <emoji-mart
                          [i18n]="{ search: 'Recherche', categories: { search: 'Résultats de recherche', recent: 'Récents' } }"
                        ></emoji-mart>
                      </div> -->
                      <div>
                        <a type="button" target="_blank">
                          <fa-icon [icon]="faFaceSmile">
                          </fa-icon>
                        </a>
                      </div>
                      <div>
                        <a type="button" target="_blank">
                          <fa-icon [icon]="faHashtag">
                          </fa-icon>
                        </a>
                      </div>
                      <div>
                        <a type="button" target="_blank">
                          <fa-icon [icon]="faComment">
                          </fa-icon>
                        </a>
                      </div>
                      <div>
                        <a type="button" target="_blank">
                          <fa-icon [icon]="faLocation">
                          </fa-icon>
                        </a>
                      </div>
                      <div>
                        <a type="button" target="_blank">
                          <fa-icon [icon]="faLink">
                          </fa-icon>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="p-2">
                <button class="btn nuevo" (click)="Cancelar()">Cancelar</button>
                <button class="btn nuevo ml-2" style="margin-left: 10px;" (click)="GuardarPublicacion()">Guardar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mt-3">
        <div class="col-md-12">
          <div class="row">
            <div class="col-12 redes fa-3x">
              <div *ngFor="let icono of selectedIcons">
                {{ setIcon(icono) }}
                <a class="cambiar-color" type="button" target="_blank" >
                  <fa-icon [icon]="icon"></fa-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
