<app-menu></app-menu>
<div class="container" style="min-height: 37vw">
  <div class="row">
    <div class="col-md-8">
      <div class="col">
        <div class="card mt-3">
          <div class="row">
            <div class="d-flex justify-content-center align-content-center p-3">
              <span class="">Nueva publicación</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9 p-2">
              <div class="row">
                <div class="col-8 redes fa-3x">
                  <div>
                    <a class="cambiar-color" type="button" target="_blank">
                      <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
                    </a>
                  </div>
                  <div>
                    <a class="cambiar-color" type="button" target="_blank">
                      <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
                    </a>
                  </div>
                  <div>
                    <a class="cambiar-color" type="button" target="_blank">
                      <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
                    </a>
                  </div>
                  <div>
                    <a class="cambiar-color" type="button" target="_blank">
                      <fa-icon [icon]="['fab', 'pinterest']"></fa-icon>
                    </a>
                  </div>
                  <div>
                    <a class="cambiar-color" type="button" target="_blank">
                      <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
                    </a>
                  </div>
                  <div>
                    <a class="cambiar-color" type="button" target="_blank">
                      <fa-icon [icon]="['fab', 'tiktok']"></fa-icon>
                    </a>
                  </div>
                  <div>
                    <a class="cambiar-color" type="button" target="_blank">
                      <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
                    </a>
                  </div>
                </div>
              </div>
              <div class="row"></div>
            </div>
            <div class="col-md-3"></div>
          </div>

          <!-- botones -->
          <div class="row">
            <div class="col">
              <div class="p-2">
                <div class="card">
                  <div class="row" style="min-height: 20vw"></div>
                  <div class="border-bottom"></div>
                  <div class="row">
                    <div class="col-12 opc p-3">
                      <div>
                        <a type="button" target="_blank">
                          <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
                        </a>
                      </div>
                      <div>
                        <a type="button" target="_blank">
                          <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
                        </a>
                      </div>
                      <div>
                        <a type="button" target="_blank">
                          <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
                        </a>
                      </div>
                      <div>
                        <a type="button" target="_blank">
                          <fa-icon [icon]="['fab', 'pinterest']"></fa-icon>
                        </a>
                      </div>
                      <div>
                        <a type="button" target="_blank">
                          <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
                        </a>
                      </div>
                      <div>
                        <a type="button" target="_blank">
                          <fa-icon [icon]="['fab', 'tiktok']"></fa-icon>
                        </a>
                      </div>
                      <div>
                        <a type="button" target="_blank">
                          <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="p-2">
                <button class="btn nuevo">Cancelar</button>
                <button class="btn nuevo ml-2" style="margin-left: 10px;">Guardar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mt-3">
        <div class="col d-flex"></div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
