.imgs{
    width:30px;
    height: 30px;
}

.redes {
    display: flex;
    min-height: 2vw;
    align-items: center;
    justify-content: space-evenly; /*space-around*/
    color: #ffffff;
  }

  .fa-3x {
    font-size: 1.5em !important;
}

.cambiar-color {
    color: #ABB2B9 !important; 
    transition: color 0.1s; /* Agrega una transición suave */
}
.cambiar-color:hover {
    color: #0B2F60 !important; /* Cambia el color al hacer clic o pasar el ratón por encima */
}


a {
    color: #0B2F60;
  }


  
.opc {
    display: flex;
    min-height: 2vw;
    align-items: center;
    justify-content: space-around;
  }

  .contenedor {
    width: 1000%; /* Define el ancho del contenedor */
    height: auto; /* Define la altura del contenedor */
    /* Añade un borde para visualización */
    overflow: hidden; /* Oculta el contenido que exceda las dimensiones del contenedor */
  }

  .contenedor img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* o 'contain' según tus preferencias */
    display: block;
  }
  

  .mi-input-personalizado {
    border: none;
    outline: none;
    width: 100%; /* Hace que el textarea ocupe todo el ancho del div contenedor */
    box-sizing: border-box; 
  }
  

  .lista-botones {
    font-family: 'Arial', sans-serif;
    font-size: 11px;
    color: #333;
  }

  .lista-botones option {
    font-family: 'Arial', sans-serif;
    font-size: 11px;
    color: #333;
  }

 .btn-nuevo{
  background-color: #12B9FF;
  color: #ffffff;
  }

  