<div class="sticky-bottom bg-footer">
  <div class="col-6 copy d-flex flex-column">
    <div class="w-100 px-2 px-5 d-flex justify-content-center align-items-center">
      <a class="badge text-decoration-none " [href]="'politicas'">
        Política de privacidad
      </a> -
      <a class="badge text-decoration-none" [href]="'acuerdo'">
        Acuerdo de afiliación
      </a> -
      <a class="badge text-decoration-none" [href]="'fees'">
        Fees
      </a>
    </div>
    <span>Copyright &copy; 2023. </span>
  </div>
  <div class="col-6 social">
    <div>
      <a href="https://www.facebook.com/masvisitcom" target="_blank">
        <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
      </a>
    </div>
    <div>
      <a href="https://twitter.com/masvisitcom" target="_blank">
        <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
      </a>
    </div>
    <div>
      <a href="https://www.youtube.com/@masvisitcom" target="_blank">
        <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
      </a>
    </div>
    <div>
      <a href="https://www.pinterest.com/masvisitcom/" target="_blank">
        <fa-icon [icon]="['fab', 'pinterest']"></fa-icon>
      </a>
    </div>
    <div>
      <a href="https://whatsapp.com/channel/0029VaBKYdsCsU9Z5bYYcg3M" target="_blank">
        <fa-icon [icon]="['fab', 'whatsapp']"></fa-icon>
      </a>
    </div>
    <div>
      <a href="https://www.tiktok.com/@masvisitcom" target="_blank">
        <fa-icon [icon]="['fab', 'tiktok']"></fa-icon>
      </a>
    </div>
    <div>
      <a href="https://t.me/masvisitcom" target="_blank">
        <fa-icon [icon]="['fab', 'telegram']"></fa-icon>
      </a>
    </div>
    <div>
      <a href="https://www.linkedin.com/company/masvisitcom/" target="_blank">
        <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
      </a>
    </div>
  </div>
</div>
