<div class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-menu">
      <ng-container *ngIf="token !== ''">
        <a class="navbar-brand align-items-center icon" href="/tips">
          <img
            class="rounded img-header img-fluid"
            src="../../assets/img/logo1.png"
            alt="Men Okay"
          />
        </a>
      </ng-container>
      <ng-container *ngIf="token === ''">
        <a class="navbar-brand align-items-center icon" href="/tipsbusiness">
          <img
            class="rounded img-header img-fluid"
            src="../../assets/img/logo1.png"
            alt="Woman Okay"
          />
        </a>
      </ng-container>
          <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
        class="collapse navbar-collapse justify-content-end align-items-center"
        id="navbarNavAltMarkup"
      >
        <div class="navbar-nav menu mx-4">
          <ng-container *ngIf="token === ''">
            <a class="nav-item nav-link " href="">Mas Visit</a>
            <a class="nav-item nav-link ">Producto</a>
            <a class="nav-item nav-link ">Redes Sociales</a>
            <a class="nav-item nav-link ">Novedades</a>
            <a class="nav-item nav-link ">Precios</a>
            <a class="nav-item nav-link ">En vivo</a>
            <a class="nav-item nav-link " type="button" (click)="onRegister()">Registrarse</a>
            <a class="nav-item nav-link " href="login">Login</a>
          </ng-container>
          <ng-container *ngIf="token !== ''">
            <a class="nav-item nav-link " href="home">Mas Visit</a>
            <a class="nav-item nav-link " href="">Redes Sociales</a>
            <a class="nav-item nav-link " href="planning">Productos</a>
            <a class="nav-item nav-link " href="marketing">Novedades</a>
            <a class="nav-item nav-link " href="post">Post</a>
            <a class="nav-item nav-link " href="emprendedor">Precios</a>
            <a class="nav-item nav-link " href="envivo">En vivo</a>

          <a class="nav-item nav-link d-none" href="search">Conocer Gente</a>
            <a class="nav-item nav-link d-none" href="moda">Moda</a>
            <div class="dropdown d-none">
              <a
                class="btn dropdown-toggle border-0 nav-item nav-link"
                role="button"
                id="dropdownMenuLink"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                href="friends"
              >
                Amigos
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li *ngFor="let p of profile">
                  <ng-container *ngIf="p.name !== 'Personal'">
                    <a class="dropdown-item" travellers [routerLink]="'/travel/' + p._id" >{{ p.name }}</a>
                  </ng-container>
                </li>
              </ul>
            </div>
            <a class="nav-item nav-link d-none" href="hotel">
              Hoteles
            </a>
            <a (click)="VentanaNotificaciones()" class="border-0 nav-item nav-link" type="button">
              <fa-icon [icon]="faBell">
              </fa-icon>
              <ng-container *ngIf="nuevas !== 0">
                <span class="position-absolute translate-middle badge rounded-pill noti">
                  {{ nuevas }}
                  <span class="visually-hidden"></span>
                </span>
              </ng-container>
            </a>
            <div *ngIf="mostrarVentanaNotificaciones===true">
              <div class="position-absolute mt-4">
                <app-notification></app-notification>
              </div>
            </div>

            <a class="border-0 nav-item nav-link" href="messages">
              <fa-icon [icon]="['fas', 'message']"></fa-icon>
            </a>

            <div class="dropdown">
              <a class="btn dropdown-toggle border-0 nav-item nav-link" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <fa-icon [icon]="['fas', 'user']"></fa-icon>
                {{ user }}
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="myProfile">Mi Perfil</a></li>
                <li><a class="dropdown-item"  [routerLink]="'/dataUser/' + estado" >Mis Datos</a></li>
                <li><a class="dropdown-item"  href="marcas" >Mis Marcas</a></li>
                <ng-container *ngIf="this.typeUser===2">
                  <li><a class="dropdown-item"  href="cursos" >Mis Cursos</a></li>
                  <li><a class="dropdown-item"  href="tipsC" >Mis Tips</a></li>
                  <li><a class="dropdown-item"  href="misenvivo" >Mis En vivo</a></li>
                </ng-container>
                <li><a class="dropdown-item" href="privacy">Privacidad</a></li>
                <li><a class="dropdown-item d-none" href="anuncios">Anuncios</a></li>
                <li><a class="dropdown-item" href="sponsor">Link Patrocinador</a></li>
                <li><a class="dropdown-item" href="referidos">Mis Referidos</a></li>
                <li><a class="dropdown-item" href="finanzas">Mis Finanzas</a></li>
                <li><a class="dropdown-item" href="match">Mis Amigos</a></li>
                <li><a class="dropdown-item" href="myBilletera">Mi Billetera</a></li>
                <li><a class="dropdown-item" href="usuarioMembresia">Membresías</a></li>
                <li><a class="dropdown-item" href="teacher">Profesor</a></li>
                <li><a class="dropdown-item btn" (click)="onLogout()">Salir</a></li>
              </ul>
            </div>
          </ng-container>
        </div>
      </div>
    </nav>
</div>

