
<app-menu></app-menu>
<div class="container" style="min-height: 37vw">
  <div class="row">    
    <div class="col-md-3">
      <div class="card mt-3">
       
      </div>
    </div>
    <div class="col-md-9">
      <div class="row mt-3">
        <div class="col d-flex">
            <button class="btn nuevo" (click)="AddPublication()">Crear nueva publicación</button>
        </div>
      </div>
      <div class="row p-3">
        <div class="card">
           
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
